@import "reset.css";

/* Components */
@import "components/header.css";
@import "components/footer.css";
@import "components/modal.css";

/* Screens */
@import "screens/home.css";

body {
    display: flex;
    flex-direction: column;
    color: #2e363e;
    font-family: "Open Sans", sans-serif;
}
/* 커서 포인터 특성을 정의하고 이 클래스를 여러 div에 적용하기 !! */
